/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('../fonts/roboto-v29-latin_cyrillic-regular.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/roboto-v29-latin_cyrillic-regular.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-700 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local(''),
    url('../fonts/roboto-v29-latin_cyrillic-700.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/roboto-v29-latin_cyrillic-700.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  color: #FFFFFF;
}

main {
  background: url('../images/png/main-screen-last-line-bgc.png');
}

/* Логотип и меню навигации Начало */

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.top_header {
  max-width: 1920px;
  height: 960px;
}

.header_logo {
  position: fixed;
  width: 40px;
  height: 40px;
  left: 80px;
  top: 40px;
}

.wrapper {
  max-width: 1300px;
  width: 100%;
  margin: 0 0 0 312px;

}

/* Логотип начало */
.header_wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

/* Меню навигации начало */
.header_nav {
  margin-right: 220px;
}

.header_nav-list {
  width: 745px;
  height: 24px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 48px;
}

.header_nav-list-item {
  margin-left: 56px;
}

.header_nav-list-item:first-child {
  margin-left: 0;
}

.header_nav-list-item_link {
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  text-decoration: none;
  color: #FFFFFF;
}

.header_nav-list-item_link:hover,
.header_nav-list-item_link:focus,
.header_nav-list-item_link:active {
  opacity: .75;
}

.header_item_bt {
  position: fixed;
  width: 183px;
  height: 44px;
  left: 1657px;
  top: 48px;
  right: 80px;
  z-index: 2;
}

.header_nav_bt_submit {
  left: 1657px;
  top: 38px;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  border-radius: 50px;
  background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
}

.header_nav_bt_reservation:hover,
.header_nav_bt_reservation:focus,
.header_nav_bt_reservation:active {
  background: #7a5637;
}

/* Логотип и меню навигации end*/

/* Intro Начало */

.intro {
  height: 100vh;
  background: url(../images/main-screen__bgc.jpg) no-repeat center;
  background-size: cover;
}

.intro_title {
  position: absolute;
  width: 100%;
  height: 180px;
  margin-top: 270px;
}

.intro_title_main {
  font-weight: bold;
  font-size: 64px;
  line-height: 140%;
}

.intro_count {
  display: flex;
  flex-wrap: nowrap;
  text-align: center;
  margin-top: 50px;
}

.intro_count_item {
  width: 115px;
  height: 112px;
  margin-right: 30px;
  background: #121212;
}

.count_item {
  margin-top: 20px;
  font-weight: bold;
  font-size: 36px;
  line-height: 140%;
}

.text_item {
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  opacity: 0.4;
}

/* Intro end */


/* Статистика Начало */

.statistics {
  background: url('../images/png/main-screen-last-line-bgc.png');
  width: 100%;
  height: 130px;
  margin-bottom: 200px;
}

.statistics_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.statistics_bt {
  justify-content: center;
  align-items: center;
  padding: 43px 0px;
}

.statistics_bt_submit {
  width: 169px;
  height: 44px;
  border-radius: 50px;
  background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
}

.statistics_block_text {
  width: 251px;
  height: 58px;
  margin: 0 81px;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  opacity: 0.4;
}

.statistics_block_picture {
  width: 714px;
  height: 67px;
  justify-content: flex-end;
}

.statistics_text_1_count {
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
  margin-left: 91px;
  color: #FFFFFF;
}

.statistics_text_2_count {
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
  margin-left: 20px;
  color: #FFFFFF;
}

.statistics_picture_text {
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  opacity: 0.4;
}

.statistics_picture_count {
  padding-left: 30px;
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
  color: #FFFFFF;
}

.statistics_block_picture-img {
  text-align: justify;
}

.statistics_block_picture-img2 {
  position: absolute;
  top: 1013px;
}

.statistics_block_picture-img-report1 {
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  opacity: 0.4;
}

.statistics_block_picture-img2 {
  background: url('../images/png/Rectangle5.png');
  z-index: 100;
}

.statistics_block_picture-img-report2 {
  margin-left: 613px;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  opacity: 0.4;
}

/* Статистика конец */
.what-doing {
  background: url('../images/png/main-screen-last-line-bgc.png');
  margin-bottom: 200px;
}

.what-doing_wrapper {
  width: 100%;
  height: 542px;
  display: flex;
  justify-content: right;
}

.what-doing_block_picture {
  margin-right: 134px;
}

.what-doing_block-text {
  z-index: 20;
}

.what-doing_block-text_title {
  margin-top: 69px;
  margin-bottom: 45px;
  font-weight: bold;
  font-size: 48px;
  line-height: 140%;
}

.what-doing_block-text_description {
  margin-right: 5px;
  font-weight: normal;
  font-size: 16px;
  line-height: 160%;
}


.fast-start_wrapper {
  margin-left: 20px;
  margin-bottom: 200px;
}

.fast-start_block_picture {
  margin: 0 20px 20px 11px;
  display: flex;

}

.fast-start_block_title {
  margin-top: 31px;
  margin-left: 20px;
  font-weight: bold;
  font-size: 48px;
  line-height: 140%;
}

.fast-start_block-text {
  width: 411px;
  height: 52px;
  margin-bottom: 80px;
}

.fast-start_block-text_description {
  font-weight: normal;
  font-size: 16px;
  line-height: 160%;
  opacity: 0.5;
}

.fast-start_block-total {
  width: 1296px;
  height: 273px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.fast-start_block-total_item-title {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 36px;
  line-height: 140%;
}

.fast-start_block-total_item-img {
  width: 25%;
  justify-content: baseline;
}

.fast-start_block-total_item-img1 {
  margin: 20px 0 35px 0;
}

.fast-start_block-total_item-img2 {
  margin: 30px 0 45px 0;
}

.fast-start_block-total_item-img3 {
  margin: 45px 0 60px 0;
}

.fast-start_block-total_item-img4 {
  margin: 55px 0 70px 0;
}

.fast-start_block-total_item-description {
  margin-right: 18px;
  width: 306px;
  height: 88px;
  font-weight: normal;
  font-size: 14px;
  line-height: 160%;
  opacity: 0.5;
}

.fast-start_block-total_item-description:last-child {
  margin-right: 0;
}



.profession {
  margin-bottom: 200px;
  width: 1296px;
  height: 549px;
}

.profession_title {
  font-weight: bold;
  font-size: 48px;
  line-height: 140%;
  text-align: center;
  margin-bottom: 120px;
}

.profession_training {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profession_training_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profession_training_item img {
  justify-content: space-between;
}

.profession_training_title {
  width: 416px;
  height: 68px;
  font-weight: 500;
  font-size: 24px;
  line-height: 140%;
  text-align: center;
  margin-top: 60px;
  margin-right: 24px;
  margin-bottom: 30px;
}

.profession_training_title:last-child {
  margin-right: 0;
}

.profession_training_text {
  width: 358px;
  height: 104px;
  font-weight: normal;
  font-size: 16px;
  line-height: 160%;
  text-align: center;
  opacity: 0.8;
  margin-right: 82px;
  margin-left: 29px;
}

.profession_training_text:last-child {
  margin-right: 29px;
}

.profession_training-certificate_img {
  margin-right: 158px;
  margin-left: 170px;
}

.profession_training-practic_img {
  margin-right: 170px;
  margin-left: 158px;
}

.profession_training-equipment_img{
  margin-right: 170px;
  margin-left: 170px;
}